/* Universal Selector */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Style the Body! */
body {
  font-family: "poppins", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(66, 66, 66);
}

a,
btn {
  transition: all 300ms ease;
}

/* NAV BAR SECTION */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  /* Can turn off later */
  /* background-color: darkgrey; */
}

.logo {
  color: black;
  font-size: 24px;
}

.logo:hover {
  cursor: default;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 24px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(181, 181, 181);
}

/* SECTION PROFILE */

/* ANIMATION SECTION */
.animation-image {
  position: relative;
  top: 20px;
  right: 220px;
  animation: glasses 4s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.animation-image-size {
  height: 100px;
  position: absolute;
}

#profile {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  position: relative;
  height: 300px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.section__text__p2 {
  font-size: 26px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.title {
  font-size: 42px;
  text-align: center;
}

#social-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 30px;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
}

.btn-color-1,
.btn-color-2 {
  border: solid 3px black;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1:hover {
  background-color: black;
  color: white;
}

.btn-color-2 {
  background-color: rgb(57, 57, 57);
  color: white;
}

.btn-color-2:hover {
  background-color: black;
}

/* SECTION ABOUT ME */

#about {
  position: relative;
  height: 100vh;
  padding-top: 25px;
}

.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 50px;
}

.section_pic-container,
.about-details-container {
  display: flex;
}

.section__pic-container {
  justify-content: center;
}

.about-pic {
  height: 300px;
  width: 400px;
  border-radius: 100px;
}

.about-details-container {
  padding: 25px;
  border: solid 3px black;
  border-radius: 25px;
  margin: 50px 150px;
}

/* SECTION PROJECT */

#projects {
  position: relative;
  height: 100vh;
  margin-top: 50px;
  padding-top: 25px;
}

.section__projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.project1-container,
.project2-container {
  justify-content: center;
  border: solid 2px black;
  border-radius: 25px;
  margin: 25px;
  padding: 25px;
  background-color: rgb(232, 232, 232);
}

.project-pic1,
.project-pic2 {
  height: 300px;
  width: 300px;
  border-radius: 45px;
  padding: 10px;
}

.section__text__p3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

/* SECTION CONTACT ME */

#contact {
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.section__upper-contactme-container {
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  border-radius: 25px;
  background-color: rgb(232, 232, 232);
  width: 250px;
}

.contact-info-container,
.email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contact-icon {
  cursor: default;
}

/* SECTION FOOTER */

footer {
  height: 20vh;
}

.nav-links__footer-container {
  justify-content: center;
}

.copyright__footer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
